<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">WELCOME TO TEMPLATE</h4>
	<span class="mainDescription">overview &amp; stats </span>
	<div ncy-breadcrumb class="pull-right"></div>
</div>

<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							HTML TEMPLATE
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
