<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Administracion de modulos del sistema.</h4>
	<span class="mainDescription">Modulos de aplicacion.</span>
	<div ncy-breadcrumb class="pull-right"></div>
</div>

<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">
				<div class="panel-body">
					<div class="row">
						
						<div class="col-md-4">
							<h3>Nota</h3>
							<p>
								Los modulos en la lista de la derecha, son aquellos que existen dentro de la apliacion, cuando
								un modulo es instalado, permite al control de seguridad poder limitar el acceso que tienen los
								usuarios a ellos.
							</p>
						</div>
						
						<div class="col-md-8">
							<table class="table">
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Descripcion</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="modulo in modulos">
										<td>{{modulo.name}}</td>
										<td>{{modulo.description}}</td>
										<td>
											<button class="btn btn-success" ng-hide="modulo.install" ng-click="modulosAdd($index)">
												Editar
											</button>
											<button class="btn btn-info" ng-show="modulo.install" ng-click="modulosAdd($index)">
												Instalar
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
