<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Formularios/pantallas del sistema.</h4>
	<span class="mainDescription">Configuracion de formularios. </span>
	<div ncy-breadcrumb class="pull-right"></div>
</div>

<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<h3>Nota</h3>
							<p>
								Los formularios son secciones en el sistema, estos deben ser registrados, para poder llevar el control de acceso, cuando un formulario es dado de baja, este ya es accesible.
							</p>
						</div>
						<div class="col-md-8">
							<table class="table">
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Descripcion</th>
										<th>Modulo</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody ng-repeat="estado in estados">
									<td>{{estado.name}}</td>
									<td>{{estado.description}}</td>
									<td>{{estado.modulo.name}}</td>
									<td>
										<button 
											class="btn btn-success" 
											ng-show="estado.install" 
											ng-click="estadoAdd($index)">
												Instalar
										</button>
										<button 
											class="btn btn-info"
											ng-show="!estado.install"
											ng-click="estadoAdd($index)">
												Editar
										</button>
										<!-- <button 
											class="btn btn-danger"
											ng-show="!estado.install">
												Eliminar
										</button> -->
									</td>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
