<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Administracion de Menu</h4>
	<span class="mainDescription">El generador de menu permite, organizar, ordenar y crear el menu. </span>
	<div ncy-breadcrumb class="pull-right"></div>
</div>

<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				
				<!-- Opciones disponibles  -->
				<div class="col-md-3">
					
					<div class="panel panel-white" ng-repeat="mod in ctMenuAdmin.modulos" ng-if="mod.states.length > 0">
						<div class="panel-body">
							<h5 class="over-title margin-bottom-15">
								Formularios de <span class="text-bold">{{mod.name}}</span>
							</h5>
							<!-- <p>
								Los estados de color rojo, no tienen vista(pantalla), se recomienda su uso para crear sub menus.
							</p> -->
							<ul class="list-unstyled">
								
								<li ng-repeat="item in mod.states">
									<div class="checkbox clip-check check-primary">
										<input type="checkbox" id="{{item.name}}" ng-model="item.active" ng-change="changedModule(item)">

										<!-- <label for="{{item.name}}" ng-if="!item.views">
											<code>{{item.name}}</code>
										</label>
										
										<label for="{{item.name}}" ng-if="item.views">
											{{item.name}}
										</label> -->
										<label for="{{item.name}}">
											{{item.name}}
										</label>
									</div>
								</li>
							</ul>
						</div>
					</div>

				</div>

				<!-- Nestable -->
				<div class="col-md-6">
					<div class="panel panel-white">
						<div class="panel-body">
							<div>
								<div class="row">
									<div class="col-md-12">
										<h5 class="over-title margin-bottom-15">Estructura del Menu</h5>
										<p>
											Arrastre cada elemento en el orden que prefiera. Si desea anidarlo dentro de otro elemento arrastrelo dentro, si desea
											<code>
												anidarlo
											</code>
											aun mas recorralo hacia su
											<code>
												derecha.
											</code>
											Nota: La estructura maxima es de <code>3</code> niveles.
										</p>
										<div ng-nestable ng-model="mdl">
											{{$item.text}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="panel panel-white">
						<div class="panel-body">
							<div>
								<div class="row">
									<div class="col-md-12">
										<h5 class="over-title margin-bottom-15">Acciones</h5>
										
										<p>
											En caso de que el <code>menu</code> no cambie, refresque la pantalla, para actualizar los datos del menu.
										</p>
										
										<button class="btn btn-success" ng-click="save();">Guardar</button>
										<button class="btn btn-danger" ng-click="restore();">Restaurar</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>