<div class="modal-header">
	<h3 class="modal-title custom-font">Datos del usuario.</h3>
</div>

<div class="modal-body">
	<form role="form">
		
		<div class="row" ng-hide="changePassword">
			<div class="col-md-3">
				<div class="form-group">
					<label for="nombre">Username</label>
					<input type="text" class="form-control" placeholder="Username" ng-model="usuario.username">
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					<label for="nombre">Nombre</label>
					<input type="text" class="form-control" placeholder="Nombre" ng-model="usuario.name">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="nombre">Rol</label>
					<select 
						class="cs-select cs-skin-slide"
						placeholder="Rol" 
						ng-model="usuario.rolid"
						ng-options="rol.id as rol.name for rol in roles track by rol.id">
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4" ng-hide="changePassword">
				<div class="form-group">
					<label for="nombre">Email</label>
					<input type="text" class="form-control" placeholder="Email" ng-model="usuario.email">
				</div>
			</div>
			<div ng-hide="editUser" ng-class="{'col-md-6': changePassword, 'col-md-4': !changePassword}">
				<div class="form-group">
					<label for="nombre">Password</label>
					<input type="password" class="form-control" placeholder="password" ng-model="usuario.password">
				</div>
			</div>
			<div ng-hide="editUser" ng-class="{'col-md-6': changePassword, 'col-md-4': !changePassword}">
				<div class="form-group">
					<label for="nombre">Confirmar Password</label>
					<input type="password" class="form-control" placeholder="confirmar pasword" ng-model="password">
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">

	<button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()">
		<i class="fa fa-arrow-left"></i> Cancelar
	</button>

	<button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="save()" ng-disabled="usuario.password !== password || usuario.password === '' ">
		<i class="fa fa-arrow-right"></i> Guardar
	</button>

</div>