<div class="modal-header">
	<h3 class="modal-title custom-font">Datos del modulo.</h3>
</div>

<div class="modal-body">
	<form role="form">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="nombre">Nombre</label>
					<input type="text" class="form-control" placeholder="Nombre" ng-model="modulo.name">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="descripcion">Descripcion</label>
					<textarea class="form-control" placeholder="Descripcion del modulo" ng-model="modulo.description"></textarea>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">

	<button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()">
		<i class="fa fa-arrow-left"></i> Cancelar
	</button>

	<button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="save()">
		<i class="fa fa-arrow-right"></i> Guardar
	</button>

</div>