<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Permisos del sistema</h4>
	<span class="mainDescription">permisos aplicados al usuario</span>
	<div ncy-breadcrumb class="pull-right"></div>
</div>

<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<uib-tabset class="tabbable">
								<uib-tab heading="{{modulo.name | uppercase}}" ng-repeat="modulo in modulos" ng-if="modulo.states.length > 0">
									<div class="row">
										<div class="col-md-12">
											<table class="table">
												<thead>
													<tr>
														<th>Formulario</th>
														<th>Descripcion</th>
														<th> <strong>Leer</strong> </th>
														<th> <strong>Escribir</strong></th>
														<th> <strong>Borrar</strong></th>
														<th> <strong>Actualizar</strong></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="formulario in modulo.states">
														<td>{{formulario.name}}</td>
														<td>{{formulario.description}}</td>
														<td>
															<div class="checkbox clip-check check-primary">
																<input 
																	type="checkbox" 
																	id="{{formulario.id + 'leer'}}"
																	ng-model="permisos[formulario.id].leer"
																	ng-change="permiso(formulario.id, 'read', permisos[formulario.id].leer)">
																<label for="{{formulario.id + 'leer'}}"></label>
															</div>
														</td>
														<td>
															<div class="checkbox clip-check check-primary">
																<input 
																	type="checkbox" 
																	id="{{formulario.id + 'escribir'}}"
																	ng-model="permisos[formulario.id].escribir"
																	ng-change="permiso(formulario.id, 'write', permisos[formulario.id].escribir)">
																<label for="{{formulario.id + 'escribir'}}"></label>
															</div>
														</td>
														<td>
															<div class="checkbox clip-check check-primary">
																<input 
																	type="checkbox" 
																	id="{{formulario.id + 'eliminar'}}"
																	ng-model="permisos[formulario.id].eliminar"
																	ng-change="permiso(formulario.id, 'delete', permisos[formulario.id].eliminar)">
																<label for="{{formulario.id + 'eliminar'}}"></label>
															</div>
														</td>
														<td>
															<div class="checkbox clip-check check-primary">
																<input 
																	type="checkbox" 
																	id="{{formulario.id + 'actualizar'}}"
																	ng-model="permisos[formulario.id].actualizar"
																	ng-change="permiso(formulario.id, 'update', permisos[formulario.id].actualizar)">
																<label for="{{formulario.id + 'actualizar'}}"></label>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</uib-tab>
							</uib-tabset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
