<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Roles de usario</h4>
	<span class="mainDescription">Administracion de roles de usuario </span>
	<div ncy-breadcrumb class="pull-right"></div>
</div>

<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<button class="btn btn-success" style="float:right;" ng-click="rolAdd();">Nuevo Rol</button>
						</div>
						<div class="col-md-3">
							<h3>Rol de usuario</h3>
							<p>
								Los roles de usuario son perfiles, que permiten deficinir permisos y acceso especiales a determinadas secciones de la aplicacion, esto pensando para poder divivir el acceso a la informacion y acciones sobre los mismos.
							</p>
						</div>
						<div class="col-md-9">
							<table class="table">
								<thead>
									<tr>
										<th>Nivel</th>
										<th>Rol</th>
										<th>Descripcion</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="rol in roles">
										<td>{{rol.level}}</td>
										<td>{{rol.name}}</td>
										<td>{{rol.description}}</td>
										<td>
											<button class="btn btn-info" ng-click="rolAdd($index);">Editar</button>
											<button class="btn btn-danger">Eliminar</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
