<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Usuarios del sistema</h4>
	<span class="mainDescription">Registro y actualizacion de datos de usuario</span>
	<div ncy-breadcrumb class="pull-right"></div>
</div>

<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">

							<div style="float:right;">
								<button ng-click="usuarioAdd();" class="btn btn-info">Agregar</button>
							</div>

							<table class="table">
								<thead>
									<tr>
										<th>Username</th>
										<th>Nombre</th>
										<th>Email</th>
										<th>Rol</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="usr in usuarios">
										<td>{{usr.username}}</td>
										<td>{{usr.name}}</td>
										<td>{{usr.email}}</td>
										<td>{{usr.rol.name}}</td>
										<td>
											<button class="btn btn-success" ng-click="usuarioAdd($index);">Editar</button>
											<button class="btn btn-info" ui-sref="app.config.usuarios.permisos({id: usr.id})">Permisos</button>
											<button class="btn btn-default" ng-click="usuarioAdd($index, true);">Cambiar Password</button>
											<button class="btn btn-danger">Eliminar</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
