.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.fr{
	float: right;
}

.clrb {
	clear: both;
}

.ptext{
	padding-top: 28px;
	text-align: right;
}

.table.table-rest{
	margin-top: 30px;
}

.table.table-rest thead tr th{
	cursor: pointer;
	text-sele
}