<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->

<!-- sidebar -->
<div class="sidebar app-aside hidden-print" id="sidebar" toggleable parent-active-class="app-slide-off">
	<div perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true" class="sidebar-container">
		<div data-ng-include=" '/app/modules/core/views/partials/sidebar.client.view.html' "></div>
	</div>
</div>
<!-- / sidebar -->

<div class="app-content" ng-class="{loading: loading}" ng-swipe-right="toggle('off-sidebar', 'off')">

	<!-- top navbar -->
	<ng-include src=" '/app/modules/core/views/partials/top-navbar.client.view.html' "></ng-include>
	<!-- / top navbar -->

	<!-- main content -->
	<div data-ng-include=" '/app/modules/core/views/partials/main-content.client.view.html' " class="main-content"></div>
	<!-- / main content -->

</div>

<!-- footer -->
<footer data-ng-include=" '/app/modules/core/views/partials/footer.client.view.html' " class="hidden-print"></footer>
<!-- / footer -->

<!-- <div data-ng-include=" 'assets/views/partials/off-sidebar.html' " id="off-sidebar" class="sidebar hidden-print" toggleable parent-active-class="app-offsidebar-open"></div> -->