<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Titulo Superior</h4>
	<span class="mainDescription">Descripcion </span>
	<div ncy-breadcrumb class="pull-right"></div>
</div>

<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<h5 class="over-title margin-bottom-15">Titulo <span class="text-bold">with heading</span></h5>
							<p class="margin-top-20">
								By default, all the <code> .panel </code>
								does is apply some basic border and padding to contain some content.
							</p>
							<p class="margin-top-20">
								Easily add a heading container to your panel with <code> .panel-heading </code>
								. You may also include any <code> &lt;h1&gt; </code>
								- <code> &lt;h6&gt; </code>
								with a <code> .panel-title </code>
								class to add a pre-styled heading.
							</p>
							<p class="margin-top-20">
								For proper link coloring, be sure to place links in headings within <code> .panel-title </code>
								.
							</p>
							<p>
								Wrap buttons or secondary text in <code> .panel-footer </code>
								. Note that panel footers <strong>do not</strong> inherit colors and borders when using contextual variations as they are not meant to be in the foreground.
							</p>
						</div>
						<div class="col-md-8">
							<div class="panel panel-white" id="panel1">
								<div class="panel-heading">
									<h4 class="panel-title">Panel Title</h4>
								</div>
								<div class="panel-body">
									<p>
										Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
									</p>
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
									</p>
									<p>
										Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
									</p>
								</div>
								<div class="panel-footer">
									Panel Footer
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
