<!-- start: LOCK SCREEN -->
<div class="row">
	<div class="lock-screen">
		<div class="box-ls">
			<img alt="" src="/app/assets/img/avatar-1.png" class="img-rounded" width="120px" />
			<div class="user-info">
				<h4>{{usuario.name}}</h4>
				<span>{{usuario.email}}</span>
				<div class="alert alert-danger" ng-show="error">
					<strong>Error!</strong>
					<a class="alert-link" href="#"> La contraseña </a>
					es incorrecta, favor de intentar de nuevo.
				</div>
				<form>
					<div class="input-group">
						<input type="password" placeholder="Password" class="form-control" ng-model="password">
						<span class="input-group-btn">
							<button class="btn btn-red" ng-click="unlock();">
								<i class="fa fa-chevron-right"></i>
							</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end: LOCK SCREEN -->