<div class="modal-header center">
	<h3 class="modal-title custom-font">Acceso denegado</h3>
</div>

<div class="modal-body center">
	<img src="app/assets/img/candado.png" width="150px;">
</div>

<div class="modal-footer">
	<button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()">
		Aceptar <i class="fa fa-arrow-right"></i>
	</button>
</div>