<!-- start: LOGIN -->
<div class="row" ng-controller="authenticationController as vmLogin">
	<div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 no-padding">
		<div class="main-login-header">
			<div class="logo text-center">
				<img src="app/assets/img/logo-big.png" alt="{{app.name}}" class="img-responsive" />
			</div>
		</div>
		<div class="main-login-body">
			<p class="text-center text-dark text-bold text-extra-large margin-top-15">
				Welcome to Packet
			</p>
			<p class="text-center">
				Por favor, introduzca su usuario y contraseña para acceder.
			</p>
			<!-- start: LOGIN BOX -->
			<div class="box-login">
				<form class="form-login" >
					<div class="form-group">
						<input type="text" class="form-control" name="username" placeholder="Username" ng-model="vmLogin.userData.username">
					</div>
					<div class="form-group form-actions">
						<input type="password" class="form-control password" name="password" placeholder="Password" ng-model="vmLogin.userData.password" ng-change="vmLogin.changePassword();">
					</div>
					<div class="alert alert-danger" ng-show="vmLogin.error">
						<strong>Error!</strong>
						<a class="alert-link" href="#"> El usuario o contraseña </a>
						no son correctos.
					</div>
					<div class="form-actions">
						<button type="submit" ng-click="vmLogin.login()" class="btn btn-success btn-block">
							Iniciar Sesion
						</button>
					</div>
				</form>
				<!-- start: COPYRIGHT -->
				<div class="copyright">
					{{app.year}} &copy; {{ app.name }} by {{ app.author }}.
				</div>
				<!-- end: COPYRIGHT -->
			</div>
			<!-- end: LOGIN BOX -->
		</div>
	</div>
</div>
<!-- end: LOGIN -->
