<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Perfil de usuario</h4>
	<span class="mainDescription">Datos generales y actividad del usuario </span>
	<div ncy-breadcrumb class="pull-right"></div>
</div>

<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<uib-tabset class="tabbable">
								<uib-tab heading="Informacion">
									<div class="row">
										<div class="col-md-4">
											<div class="user-left">
												<div class="center">
													<h4>{{usuario.name}}</h4>
													<div>
														<div class="user-image">
															<div class="thumbnail">
																<img src="/app/assets/img/avatar-1.png"/>
															</div>
														</div>
													</div>
												</div>
											</div>
											<table class="table table-condensed">
												<thead>
													<tr>
														<th colspan="3">Informacion de usuario</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Username</td>
														<td>{{usuario.username}}</td>
													</tr>
													<tr>
														<td>Email</td>
														<td>{{usuario.email}}</td>
													</tr>
													<tr>
														<td>Rol</td>
														<td>{{usuario.rol.name}}</td>
													</tr>
												</tbody>
											</table>
											<div class="text-right">
												<a class="btn btn-primary btn-o btn-wide" href="#" ng-click="editarPerfil();">
													Editar Cuenta
												</a>
												<a class="btn btn-primary btn-o btn-info" href="#" ng-click="editarPerfil(true);">
													Cambiar contraseña
												</a>
											</div>
										</div>

										<div class="col-md-8">
											
											<div class="row space20">
												<div class="col-sm-3">
													<button class="btn btn-icon margin-bottom-5 margin-bottom-5 btn-block">
														<i class="ti-layers-alt block text-primary text-extra-large margin-bottom-10"></i>
														Projectos
													</button>
												</div>
												<div class="col-sm-3">
													<button class="btn btn-icon margin-bottom-5 btn-block">
														<i class="ti-comments block text-primary text-extra-large margin-bottom-10"></i>
														Mensajes <span class="badge badge-danger"> 23 </span>
													</button>
												</div>
												<div class="col-sm-3">
													<button class="btn btn-icon margin-bottom-5 btn-block">
														<i class="ti-calendar block text-primary text-extra-large margin-bottom-10"></i>
														Calendario
													</button>
												</div>
												<div class="col-sm-3">
													<button class="btn btn-icon margin-bottom-5 btn-block">
														<i class="ti-flag block text-primary text-extra-large margin-bottom-10"></i>
														Notificationes
													</button>
												</div>
											</div>
											
											<div class="panel panel-white" id="activities">
												<div class="panel-heading border-light">
													<h4 class="panel-title text-primary">
														Actividad Reciente
													</h4>
													<paneltool class="panel-tools" tool-collapse="tool-collapse" tool-refresh="load1" tool-dismiss="tool-dismiss"></paneltool>
												</div>
												<div uib-collapse="activities" ng-init="activities=false" class="panel-wrapper">
													<div class="panel-body">
														<ul class="timeline-xs">
															<li class="timeline-item success">
																<div class="margin-left-15">
																	<div class="text-muted text-small">
																		Hace 2 minutos
																	</div>
																	<p>
																		<a class="text-info" href>
																			Steven
																		</a>
																		Completo la cuenta.
																	</p>
																</div>
															</li>
															<li class="timeline-item">
																<div class="margin-left-15">
																	<div class="text-muted text-small">
																		12:30
																	</div>
																	<p>
																		Staff Meeting
																	</p>
																</div>
															</li>
															<li class="timeline-item danger">
																<div class="margin-left-15">
																	<div class="text-muted text-small">
																		11:11
																	</div>
																	<p>
																		Completo el layout.
																	</p>
																</div>
															</li>
															<li class="timeline-item info">
																<div class="margin-left-15">
																	<div class="text-muted text-small">
																		Thu, 12 Jun
																	</div>
																	<p>
																		Contacto a
																		<a class="text-info" href>
																			Microsoft
																		</a>
																		por motivos de licencia.
																	</p>
																</div>
															</li>
															<li class="timeline-item">
																<div class="margin-left-15">
																	<div class="text-muted text-small">
																		Tue, 10 Jun
																	</div>
																	<p>
																		Inicio de desarrollo de un sitio
																	</p>
																</div>
															</li>
															<li class="timeline-item">
																<div class="margin-left-15">
																	<div class="text-muted text-small">
																		Sun, 11 Apr
																	</div>
																	<p>
																		Comida con
																		<a class="text-info" href>
																			Nicole
																		</a>
																		.
																	</p>
																</div>
															</li>
															<li class="timeline-item warning">
																<div class="margin-left-15">
																	<div class="text-muted text-small">
																		Wed, 25 Mar
																	</div>
																	<p>
																		Mantenimiento del servidor.
																	</p>
																</div>
															</li>
															<li class="timeline-item">
																<div class="margin-left-15">
																	<div class="text-muted text-small">
																		Fri, 20 Mar
																	</div>
																	<p>
																		Nuevo usuario registrado
																		<a class="text-info" href>
																			mas detalles
																		</a>
																		.
																	</p>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</uib-tab>
							</uib-tabset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>