.main-login{
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
	border:1px; solid;
	background-color: #fff;
	border-radius: 6px;
}

.main-login-header{
	border-radius: 6px 6px 0px 0px;
	padding: 40px 20px;
	position: relative;
	background-color: #1D2C33;
	color: #fff;
	border: none !important;
}

.main-login-body{
	padding: 30px;
}

.main-login .box-login,
.main-login .box-forgot,
.main-login .box-register{
	margin: 15px 0 15px 0;
}