<!-- start: FOOTER -->
<div class="footer-inner">
	<div class="pull-left">
		&copy; {{app.year}} <span class="text-bold text-uppercase">{{ app.author }}</span>. <span>Todos los derechos reservados</span>
	</div>
	<div class="pull-right">
		<a class="go-top" href="#" ng-click="toTheTop()"><i class="ti-angle-up"></i></a>
	</div>
</div>
<!-- end: FOOTER -->