<!-- start: HORIZONTAL MENU -->
<div class="horizontal-menu-wrapper">
	<!-- <div class="horizontal-nav-container" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="true"> -->
	<div class="horizontal-nav-container">

		<ul class="nav navbar-nav navbar-right" ng-controller="headerController">
			<li class="dropdown" uib-dropdown>
				<a href="#" class="dropdown-toggle nav-user-wrapper" data-toggle="dropdown" uib-dropdown-toggle>
					<img alt="" src="/app/assets/img/avatar-1.png" width="50px" height="50px">
					<span>{{user.name}}</span> 
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu pull-right animated fadeInRight">
					<li>
						<a ui-sref="app.usuario({id: user.id})"> Perfil </a>
					</li>
					<!-- <li>
						<a ui-sref="app.pages.calendar"> My Calendar </a>
					</li>
					<li>
						<a ui-sref="app.pages.messages"> My Messages (3) </a>
					</li> -->
					<li>
						<a ng-click="lockScreen();"> Bloquear Pantalla </a>
					</li>
					<li class="divider"></li>
					<li>
						<a ng-click="logout();"> Salir </a>
					</li>
				</ul>
			</li>
		</ul>
		<div data-ng-include=" '/app/modules/core/views/partials/menu.client.view.html' "></div>
	</div>

	<!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
	<div class="close-handle visible-xs-block visible-sm-block menu-toggler" ng-click="menuInit(true)" ng-swipe-up="menuInit(true)">
		<div class="arrow-left"></div>
		<div class="arrow-right"></div>
	</div>
	<!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
</div>
<!-- end: HORIZONTAL MENU -->
