<ul class="nav navbar-nav no-border" ng-controller="menuController">
	<li ui-sref-active="active" ng-repeat="menu in mdl" ng-if=" !menu.children ">
		<a ui-sref="{{menu.item.state}}">
			<letter-icon data="{{menu.item.text}}" color="auto" char-count="2" size="sm"></letter-icon>
			{{menu.item.text}}
		</a>
	</li>
	<li 
		ui-sref-active="active"
		ng-repeat="menu in mdl"
		uib-dropdown auto-close="always"
		ng-if="menu.children">
		<a href="javascript:void(0)" uib-dropdown-toggle>
			<letter-icon data="{{menu.item.text}}" color="auto" char-count="2" size="sm"></letter-icon>
			<span> {{menu.item.text}}</span> 
			<span class="caret"></span>
		</a>
		<ul uib-dropdown-menu>
			<!-- Submenu -->
			<li ui-sref-active="active" ng-repeat="submenuNivel1 in menu.children" ng-if=" !submenuNivel1.children ">
				<a ui-sref="{{submenuNivel1.item.state}}"> <span> {{submenuNivel1.item.text}} </span> </a>
			</li>
			<!-- Submenu nivel 2 -->
			<li ui-sref-active="active" class="dropdown-submenu" ng-repeat="submenuNivel1 in menu.children" ng-if="submenuNivel1.children ">
				<a href="#"> <span> {{submenuNivel1.item.text}} </span> </a>
				<ul class="dropdown-menu">
					<li ui-sref-active="active" ng-repeat="submenuNivel2 in submenuNivel1.children">
						<a ui-sref="{{submenuNivel2.item.state}}"> <span> {{submenuNivel2.item.text}} </span> </a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>