<div class="row">


	<!-- Seleccion de paginacion -->

	<div class="col-xs-3">
		<form class="form-inline">
			<div class="form-group">
				<label for="nombre">Paginar por: </label>
				<select 
					class="form-control" ng-model="paginarPor" ng-change="changedLimite();">
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="15">15</option>
						<option value="20">20</option>
						<option value="25">25</option>
				</select>
			</div>
		</form>
	</div>

	<!-- Elemento de busqueda y filtrado -->

	<div class="col-xs-9">
		<form class="form-inline fr">
			<div class="form-group">
				<input type="text" name="" class="form-control" ng-model="searchFilter" ng-show="seachActive" ng-enter="buscar()">
				<button class="btn btn-danger" ng-click="clearSearch()" ng-show="isSearch">
					<i class="fa fa-times" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" ng-click="buscar();" ng-show="seachActive">Buscar</button>
				<button class="btn btn-info">
					<i class="fa fa-filter" aria-hidden="true"></i>
				</button>
			</div>
		</form>
	</div>

	<div class="clrb"></div>

	<!--  Tabla con los resultados -->
	<div class="col-xs-12">
		<table class="table table-rest">
			<thead>
				<tr>
					<th ng-repeat="header in headers" data-fiel="{{header.fiel}}" ng-click="orderby($index, header.order);" class="noselect">
						{{header.title | capitalizeFilter}}
						<i class="fa fa-sort-asc" aria-hidden="true" ng-show="header.up"></i>
						<i class="fa fa-sort-desc" aria-hidden="true" ng-show="header.down"></i>
					</th>
					<th class="noselect" ng-if="options.actions">
						Acciones
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
					<td ng-repeat="header in headers">
						{{ item | importObjectFilter:header.fiel }}
					</td>
					<td ng-if="options.actions">
						<button
							class="btn btn-info"
							ng-show="options.actions.see"
							ng-click="eventClick($index, 'see')">
								<i class="fa fa-eye" aria-hidden="true"></i>
						</button>
						<button 
							class="btn btn-success" 
							ng-show="options.actions.update" 
							ng-click="eventClick($index, 'update');">
								<i class="fa fa-pencil" aria-hidden="true"></i>
						</button>
						<button 
							class="btn btn-danger" 
							ng-show="options.actions.delete" 
							ng-click="eventClick($index, 'delete');">
								<i class="fa fa-times" aria-hidden="true"></i>
						</button>

						<button class="btn">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>

					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- end resultados -->

	<div class="col-xs-6">
		<uib-pagination
			boundary-links="true"
			total-items="paginator.totalItems"
			ng-model="currentPage"
			ng-change="pageChanged()"
			items-per-page="paginator.forPage"
			max-size="paginator.max"
			num-pages="numPages"
			previous-text="&lsaquo;"
			next-text="&rsaquo;"
			first-text="&laquo;"
			last-text="&raquo;">
		</uib-pagination>
	</div>

	<div class="col-xs-6 ptext">
		P&aacute;gina  {{ currentPage }} de {{ numPages }} mostrando {{ items.length  }} registros de {{paginator.totalItems}} en total.
	</div>
</div>